@model Domen.Models.Member

@{
    ViewBag.Title = "Master - "+Model.PersonName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section link
{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Views/Member.css" rel="stylesheet" />
}
<div class="ContentWrapper">
    <div class="sideControls columnFlexCenter">
        <div class="MasterTitle">
            @if (Model.Avatar != null)
            {
                <div class="headerImageWrapper myLogo">
                    <img alt="" src="/Content/img/meneger.png" />
                </div>
            }
            else
            {
                <div class="headerImageWrapper noAvatar" data-name="_profile">
                    <div class="whiteCircule">
                        <div class="whiteBg columnFlexCenter">
                            <span class="glyphicon glyphicon-plus" id="myAvatar"></span>
                        </div>
                    </div>
                </div>
            }
            <h1>ЯМастер</h1>
            <p>Панель управления</p>
        </div>
        <ul>
            <li>
                <a href="#" id="myProfile" data-name="_profile">
                    <i class="fa fa-2x fa-user"></i>
                    <p>Мои данные</p>
                </a>
            </li>
            <li>
                <a href="#" id="brand" data-name="_brand">
                    <i class="fa fa-2x fa-copyright"></i>
                    <p>Торговые знаки</p>
                </a>
            </li>
            <li>
                <a href="#" id="delivery" data-name="_delivery">
                    <i class="fa fa-2x fa-map"></i>
                    <p>Условия доставки</p>
                </a>
            </li>
            <li>
                <a href="#" id="goods" data-name="_goods">
                    <i class="fa fa-2x fa-th"></i>
                    <p>Товары / услуги</p>
                </a>
            </li>
            <li>
                <a href="#" id="orders" data-name="_orders">
                    <i class="fa fa-2x fa-shopping-basket"></i>
                    <p>Заказы</p>
                </a>
            </li>

        </ul>
    </div>
    <div class="contentBlock">
        <div class="contentData"></div>
    </div>
</div>

@section scripts
{
    <script src="/Scripts/home/YaMaps.js"></script>
    <script>
        $(document).ready(function () {
            var m = "@Model.UserId";

            function removeBlockEvent(s) {
                $(".contentData [data-close]").on("click", function (e) {
                    var elName = e.currentTarget.name;
                    var prEl = $("#" + elName);
                    prEl.remove();
                });
                $("[data-info="+s+"]").on("click", function (e) {
                    var el = $(this).data("info");
                    $("div [data-info-toggle="+el+"]").fadeToggle(500);
                });
            };

            function panelExist(ident) {
                var e = $("#" + ident);
                return e.length>0 ? true : false;
            }



            $("#myProfile").on("click", function (e) {
                if (panelExist(m + e.currentTarget.attributes[2].nodeValue)) {
                    return;
                }
                $.get('@Url.Action("MyProfile","Member")').done(function(data) {
                    $(".contentData").append(data);
                    removeBlockEvent(e.currentTarget.attributes[2].nodeValue);
                });
            });

            $(".noAvatar").on("click", function (e) {
                if (panelExist(m + e.currentTarget.attributes[1].nodeValue)) {
                    return;
                }
                $.get('@Url.Action("MyProfile","Member")').done(function (data) {
                    $(".contentData").append(data);
                    removeBlockEvent(e.currentTarget.attributes[1].nodeValue);
                });
            });


            $("#brand").on("click", function (e) {
                if (panelExist(m + e.currentTarget.attributes[2].nodeValue)) {
                    return;
                }
                $.get('@Url.Action("MyBrands","Member")').done(function (data) {
                    $(".contentData").append(data);
                    removeBlockEvent(e.currentTarget.attributes[2].nodeValue);
                });
            });




            $("#delivery").on("click", function (e) {
                $(".contentData").load('@Url.Action("DeliveryTypes","Member")');
            });
            $("#goods").on("click", function (e) {
                $(".contentData").load('@Url.Action("Goods","Member")');
            });
            $("#orders").on("click", function (e) {
                $(".contentData").load('@Url.Action("Dashboard","Member")');
            });
        });
    </script>
}
