@model Domen.Models.Member

<div id="@(Model.UserId+"_profile")">
    <div class="myPanel">
        <div class="myPanelHead">
            <h2>Мои персональные данные</h2>
            <div class="headIcons">
                <a data-info="_profile"><i class="fa fa-2x fa-question"></i></a>
                <button type="button" data-close="" name="@(Model.UserId+"_profile")"><i class="fa fa-2x fa-close"></i></button>
            </div>
        </div>
        <div class="myPanelBody">
            <div class="blockInfo" data-info-toggle="_profile" style="display: none">
                <article>
                    <i class="fa fa-2x fa-exclamation"></i>
                    Персональные данные - это ваша визитная карточка. На витрине, кликнув на портрет,
                    пользователь увидит эту информацию и ваши контактакты.
                </article>
            </div>
            <div class="myPhotoAndDescr">
                <div class="myPhoto">
                    <div class="emptyPhotoContainer">
                        <div class="topPhotoBlock">

                        </div>
                        <div class="emptyPhotoDescr">
                            <div class="drNdropfilehere">

                            </div>
                            <img alt=""/>
                        </div>
                        <div class="photoControls">
                            <label id="addMemberAvatar">
                                <span title="Загрузить портрет"><i class="fa fa-2x fa-plus"></i></span>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="file" name="avatar" accept="image/x-png,image/jpeg,image/jpg" id="castAva"/>
                                    <button type="button">Загрузить</button>
                                }
                            </label>
                        </div>
                    </div>
                </div>
                <div class="myPersonal">
                    <h1>@Model.PersonName</h1>
                    <p>год выпуска: @(DateTime.Parse(Model.Birthday.ToString()).ToLongDateString())</p>
                    @if (string.IsNullOrEmpty(Model.Country) || string.IsNullOrEmpty(Model.City))
                    {
                        <h2 id="myLocation">Укажите ваш город.</h2>
                    }
                    else
                    {
                        <h2>@Model.Country, @Model.City</h2>
                    }
                    @if (Model.Master != null)
                    {
                        <a>
                            <p>@Model.Master.Specialist.Title</p><span>></span><p>@Model.Master.Title</p></a>
                    }
                    else
                    {
                        <a>Укажите вашу специальность</a>
                    }
                    <article>
                        @Model.AboutMe
                    </article>
                    <a href="@Url.Action("Settings","Member")" class="btn btn-default btn-sm">Редактировать</a>
                </div>
            </div>
        </div>
    </div>    
</div>
