@model Domen.Models.Member

@if (User.Identity.IsAuthenticated && Model!=null)
{
    <li id="personData">
        <div class="rowFlex memberMenu">
            <p id="ddMenu">@User.Identity.Name</p>
            <div class="columnFlexCenter dropDownPersonal">
                @if (Model.Avatar != null)
                {
                    <div class="headerImageWrapper myLogo">
                        <img alt="" src="@Model.Avatar.Path"/>
                    </div>
                }
                else
                {
                    <div class="headerImageWrapper noAvatar">
                        <div class="whiteCircule">
                            <div class="whiteBg columnFlexCenter">
                                <span class="glyphicon glyphicon-plus"></span>
                            </div>
                        </div>
                    </div>
                }
                <h2>@Model.PersonName</h2>
                <ul>
                    <li><a href="@Url.Action("Master")">Моя страница</a></li>
                    <li><a href="@Url.Action("CropieTest","Member")">Витрина</a></li>
                    <li><a>Лента</a></li>
                    <li><a href="@Url.Action("Settings","Member")">Настройки</a></li>
                </ul>
            </div>
        </div>
    </li>
}